/* Style for index.html */
/* Basic Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables: */
:root {
    --background-nav: #333333;
    --color-text-nav: #f9f9f9;
    --color-text-banner: #fcfcfc;
}

/* HTML fonts and general. */
html {
    font-family: 'Roboto', 'Arial', sans-serif;
}