/* Style for index.html */
/* Basic Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables: */
:root {
    --text-menu-color: #fff;
    --details-menu-color: #272727;
    --details-menu-color-alpha: rgba(39, 39, 39, 0.2);
}

/* HTML fonts and general. */
html {
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* CONTAINER */
.container {
    align-items: center;
    display: flex;
    /* Height 100 of the viewport. Temporal. */
    height: 100vh;
}

/* MENU */
.menu {
    padding-left: 15%;
}

/* Title menu: */
.menu-title {
    font-family: 'Courier New', Courier, monospace;
    font-size: 3em;
    text-shadow: 0 2px 4px var(--details-menu-color);
}

/* Unordered Lists: */
ul {
    /* Get off discs! */
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
}

/* Lists and Links: */
.menu ul li a {
    color: rgb(0, 0, 0);
    display: inline-block;
    font-size: 1.4em;
    text-decoration: none;
    padding: 15px 5px 15px 10px;
    width: 85%;
}

/* The hover link: */
.menu ul li a:hover {
    background-color: var(--details-menu-color-alpha);
    border-left: 10px solid var(--details-menu-color);
    font-weight: bold;
}