/* Style for index.html */
/* Basic Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Variables: */
:root {
    --background-nav: #333333;
    --color-text-nav: #f9f9f9;
    --color-text-banner: #fcfcfc;
}

/* HTML fonts and general. */
html {
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* Navigation Menu: */
.nav {
    align-items: center;
    color: var(--color-text-nav);
    background-color: var(--background-nav);
    /* Using Flexbox layout. */
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
}

/* Navigation "Logo": */
.nav-logo {
    font-size: 2.2em;
}

/* Navigation Unordered List: */
.nav ul li {
    /* Inline Block for using width and height. */
    display: inline-block;
    margin-left: 10px;
    list-style-type: none;
}

/* Navigation Links: */
.nav ul li a {
    color: var(--color-text-nav);
    font-size: 1.3em;
    font-weight: bold;
    text-decoration: none;
    padding: 10px;
}

/* Navigation Links with Pseudo-classes: */
/* Navigation Link with :hover */
.nav ul li a:hover {
    border-bottom: 2px solid var(--color-text-nav);
}

/* Navigation Link with :active */
.nav ul li a:active {
    background-color: var(--color-text-nav);
    border-radius: 5px;
    color: var(--background-nav);
}