/* Styles for Lean Canvas HTML file */

/* Basic Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The main ROOT */
:root {
    /* This is how you declare variables: */
    --main-background: #f1f1f1;
    --header-background: rgb(73, 73, 73);
}

/* Body */
body {
    /* Using fonts from Google Fonts: */
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

/* The main container: */
.main-container {
    /* Using a variable: */
    background-color: var(--main-background);
}

/* The header: */
.header {
    /* Using variables: */
    background-color: var(--header-background);
    color: #f1f1f1;
    padding: 30px;
}

/* The Canvas Container */
.canvas-container {
    padding: 20px;
    text-align: justify;
}

/* Head Section of The Lean Canvas */
.head-section {
    /* align-items: center; */
    display: flex;
    /* Space between flex-items with GAP. */
    gap: 20px;
    /* justify-content: center; */
}

/* Title Canvas */
.title-canvas {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
}