/* Styles only for visualProposition.html */

/* BASIC RESET */
/* Universal selector with pseudo-elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The container for both, visual proposition container and customer container. */
.visual-customer-container {
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: center;
}

/* The visual proposition container */
/* And the customer container */
.visual-container, .customer-container {
    align-items: center;
    /* If for some reason, using a solid background-color. */
    background-color: #f1f1f1;
    border: 2px solid #000;
    display: flex;
    /* The size of our box would be 500x500 */
    height: 500px;
    justify-content: center;
    width: 500px;
}

/* Visual Proposition and Customer has different background-image: */
.visual-container {
    /* Using a background image: */
    background-image: url('../img/visual-connector.png');
}

.customer-container {
    /* Another background image for customer container. */
    background-image: url('../img/customer-connector.png');
}

/* They probably have the same background-position: */
.visual-container, .customer-container {
    background-position: 55%;
}

/* Icon in the center. */
.visual-icon, .customer-icon {
    background-color: #f1f1f1;
    font-size: 5em;
}