/* Styles only for visualProposition.html */

/* BASIC RESET */
/* Universal selector with pseudo-elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* The container for both, visual proposition container and customer container. */
.visual-customer-container {
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: center;
}

/* The visual proposition container */
/* And the customer container */
.visual-container, .customer-container {
    align-items: center;
    /* If for some reason, using a solid background-color. */
    background-color: #f1f1f1;
    border: 2px solid #000;
    display: flex;
    /* The size of our box would be 500x500 */
    height: 500px;
    justify-content: center;
    /* Adding position relative */
    position: relative;
    width: 500px;
}

/* Visual Proposition and Customer has different background-image: */
.visual-container {
    /* Using a background image: */
    background-image: url('../img/visual-connector.png');
}

.customer-container {
    /* Another background image for customer container. */
    background-image: url('../img/customer-connector.png');
}

/* They probably have the same background-position: */
.visual-container, .customer-container {
    background-position: 55%;
}

/* Icon in the center. */
/* And icons inside of those containers. */
.visual-container > div, .customer-container > div {
    background-color: #f1f1f1;
    font-size: 5em;
    text-align: center;
}

/* Visual Container: Icons */
/* Products and Services */
.products-services,
.gains-creators,
.pain-relievers {
    position: absolute;
}

/* Products and Services */
.products-services {
    left: 50px;
}

/* Gains Creators */
.gains-creators {
    top: 50px;
    right: 100px;
}

/* Pain Relievers */
.pain-relievers {
    bottom: 50px;
    right: 100px;
}

/* P Text inside of the three components */
.visual-container > div p, .customer-container > div p {
    font-size: 12px;
    /* text-align: center; */
}

/* Customer Segment container: */
/* Position Absolute */
.gains,
.customer-job,
.pains {
    position: absolute;
}

/* Gains Positioning */
.gains {
    top: 50px;
    left: 150px;
}

/* Customer Job Positioning */
.customer-job {
    right: 50px;
}

/* Pains Positioning */
.pains {
    bottom: 50px;
    left: 150px;
}

/* Customer Container Border Radius: */
.customer-container {
    border-radius: 50%;
}