/* STYLE ONLY FOR VIDEO BACKGROUND IN index.html */

/* Section with video-background. */
section#video-background {
    align-items: center;
    display: flex;
    height: 100vh;
    position: absolute;
    opacity: .4;
    width: 100%;
    z-index: -1;
}

/* The video element: */
section#video-background video {
    height: 100%;
    left: 0;
    position: absolute;
    object-fit: cover;
    top: 0;
    width: 100%;
}