/* Styles only for visualProposition.html */

/* BASIC RESET */
/* Universal selector with pseudo-elements */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body and giving font-family set to Roboto */
body {
    font-family: 'Roboto', 'Arial', sans-serif;
}

/* The container for both, visual proposition container and customer container. */
.visual-customer-container {
    align-items: center;
    display: flex;
    gap: 25px;
    justify-content: center;
    /* Giving margin between itself and the header. */
    margin-top: 25px;
}

/* The visual proposition container */
/* And the customer container */
.visual-container, .customer-container {
    align-items: center;
    /* If for some reason, using a solid background-color. */
    background-color: #f1f1f1;
    border: 2px solid #000;
    display: flex;
    /* The size of our box would be 500x500 */
    height: 500px;
    justify-content: center;
    /* Adding position relative */
    position: relative;
    width: 500px;
}

/* Visual Proposition and Customer has different background-image: */
.visual-container {
    /* Using a background image: */
    background-image: url('../img/visual-connector.png');
}

.customer-container {
    /* Another background image for customer container. */
    background-image: url('../img/customer-connector.png');
}

/* They do not have the same background-position. */
/* Visual Container background-position: */
.visual-container {
    background-position: 35%;
}

/* Customer Job Container background-position: */
.customer-container {
    background-position: 75%;
}

/* Icon in the center. */
/* And icons inside of those containers. */
.visual-container > div, .customer-container > div {
    background-color: #f1f1f1;
    font-size: 5em;
    text-align: center;
}

/* Dropping out the font-size of Customer Icon: */
.customer-icon {
    /* First time to use !important... */
    font-size: initial !important;
}

/* Visual Container: Icons */
/* Products and Services */
.products-services,
.gains-creators,
.pain-relievers {
    position: absolute;
}

/* Products and Services */
.products-services {
    left: 50px;
}

/* Gains Creators */
.gains-creators {
    top: 50px;
    right: 100px;
}

/* Pain Relievers */
.pain-relievers {
    bottom: 50px;
    right: 100px;
}

/* P Text inside of the three components */
.visual-container > div p, .customer-container > div p {
    font-size: 12px;
    /* text-align: center; */
}

/* Customer Segment container: */
/* Position Absolute */
.gains,
.customer-job,
.pains {
    position: absolute;
}

/* Gains Positioning */
.gains {
    top: 50px;
    left: 150px;
}

/* Customer Job Positioning */
.customer-job {
    right: 50px;
}

/* Pains Positioning */
.pains {
    bottom: 50px;
    left: 150px;
}

/* Customer Container Border Radius: */
.customer-container {
    border-radius: 50%;
}

/* HEADER SECTION */
.header {
    background-color: rgb(26, 26, 26);
    color: #fff;
    text-align: justify;
    padding: 50px;
}

/* Header Title */
.header-title {
    text-align: center;
}

/* The Header Section */
.header-section {
    align-items: center;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
}

/* The header section TOP */
.header-section-top {
    flex-basis: 33%;
}

/* The title of each header section: */
.header-section__title {
    border-bottom: 2px solid #f1f1f1;
    padding-bottom: 5px;
    border-radius: 5px;
}

/* The explanatory text of each header section: */
.header-section__text, .header-section-user ul li {
    /* A little more. */
    font-size: 18px;
}

/* The left and right arrow. */
.right-arrow, .left-arrow {
    font-size: 6em;
}

/* CONTENT EXPLANATORY: */
/* The main content: */
.main-content {
    /* Text must be aligned to the center: */
    text-align: center;
    margin-top: 150px;
}

/* The section content for both, Visual Proposition and Customer Job: */
.section-content {
    align-items: stretch;
    display: flex;
    gap: 10px;
    margin: 35px 0;
}

/* The article of each section: */
.article-content {
    align-items: center;
    background-color: #cacaca;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-size: 1.3em;
    flex-basis: 33%;
    justify-content: space-between;
    gap: 30px;
    padding-top: 25px;
}

/* Text, and subtitle, of the article: */
.article-text, .article-title {
    padding: 10px 70px;
}

/* Icon or IMG of the article: */
.article-img i {
    background-color: #fff;
    border: none;
    border-radius: 100%;
    font-size: 2.6em;
    padding: 25px;
}

/* Styling the title article:  */
.article-title {
    background-color: #272727;
    color: #fff;
    width: 100%;
}